.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 60px auto 0 -61px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 169px -63px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: -609px auto 139px 0;
}

.u-section-1 .u-image-1 {
  min-height: 530px;
  pointer-events: auto;
  background-image: url("images/IMG_0697.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 530px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  font-family: "Allerta Stencil";
  font-weight: normal;
  margin: 62px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 14px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Open Sans", sans-serif;
  margin: 29px 296px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-shape-1 {
    width: 228px;
    height: 228px;
    margin-left: -37px;
  }

  .u-section-1 .u-shape-2 {
    width: 211px;
    height: 211px;
    margin-top: 192px;
    margin-right: -34px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 892px;
    margin: -563px auto 45px;
  }

  .u-section-1 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-shape-1 {
    width: 198px;
    height: 198px;
    margin-left: -32px;
  }

  .u-section-1 .u-shape-2 {
    width: 183px;
    height: 183px;
    margin-top: 213px;
    margin-right: -37px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 697px;
    margin-top: -530px;
    margin-bottom: 116px;
  }

  .u-section-1 .u-image-1 {
    min-height: 475px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 40px 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 609px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 447px;
    margin-top: -926px;
    margin-bottom: 121px;
    margin-left: 34px;
  }

  .u-section-1 .u-image-1 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 40px 30px 45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-shape-1 {
    width: 172px;
    height: 172px;
    margin-top: 47px;
    margin-left: -37px;
  }

  .u-section-1 .u-shape-2 {
    width: 166px;
    height: 166px;
    margin-top: 570px;
    margin-right: -14px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 308px;
    margin-top: -887px;
    margin-bottom: 108px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-2 .u-gallery-1 {
  width: 985px;
  height: 930px;
  grid-gap: 10px 10px;
  margin: 213px auto 0 53px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
  margin: 58px auto 56px 450px;
  padding: 14px 43px 15px 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    height: 887px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1914px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    height: 1529px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-btn-1 {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4972px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    height: 4587px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3273px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 2888px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1434px;
}

.u-section-3 .u-shape-1 {
  width: 643px;
  background-image: none;
  height: 1048px;
  margin: 77px auto 0 193px;
}

.u-section-3 .u-gallery-1 {
  width: 985px;
  height: 930px;
  grid-gap: 10px 10px;
  margin: -912px auto 0 53px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
  margin: 116px auto 60px 450px;
  padding: 14px 43px 15px 42px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    margin-left: 0;
    height: 888px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2034px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 77px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 1020px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4329px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 3060px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2912px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 1927px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1618px;
}

.u-section-4 .u-shape-1 {
  width: 368px;
  height: 368px;
  background-image: none;
  margin: 0 auto 0 293px;
}

.u-section-4 .u-image-1 {
  width: 538px;
  height: 493px;
  margin: -245px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 541px;
  height: 369px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -156px auto 0 149px;
}

.u-section-4 .u-image-3 {
  width: 350px;
  min-height: 504px;
  background-image: url("images/am.jpg");
  margin: -688px 195px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1617px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 172px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 368px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: -687px;
    margin-right: 190px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 312px;
    margin-top: -217px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 232px;
    margin-top: 25px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    margin-top: -551px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 {
  min-height: 956px;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 876px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -775px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  width: 124px;
  height: 12px;
  transform-origin: right center;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 9px 20px 0 0;
}

.u-section-5 .u-text-3 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 29px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 14px 43px 15px 42px;
}

.u-section-5 .u-image-1 {
  min-height: 667px;
  background-image: url("images/c4e13235-a81d-a99d-1963-e3e6b63f1b6e.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-group-1 {
  width: 470px;
  min-height: 444px;
  background-image: none;
  margin: 177px 43px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  background-image: none;
  margin: 35px auto 0 0;
  padding: 14px 41px 15px;
}

.u-section-5 .u-shape-2 {
  width: 466px;
  height: 318px;
  margin: -255px calc(((100% - 1140px) / 2) + -50px) -63px auto;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 930px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    height: 862px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 909px;
    margin-top: -791px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 690px;
  }

  .u-section-5 .u-shape-2 {
    width: 441px;
    margin-top: -263px;
    margin-right: calc(((100% - 940px) / 2) + -25px);
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 952px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 395px);
    height: 880px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 698px;
    margin-top: -809px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 660px;
  }

  .u-section-5 .u-group-1 {
    width: 432px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 366px;
    height: 321px;
    margin-top: -274px;
    margin-right: calc(((100% - 720px) / 2) + -28px);
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1205px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 434px);
    height: 541px;
    margin-top: 60px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 516px;
    margin-top: -1075px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 489px;
    order: 1;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -270px;
    margin-right: calc(((100% - 540px) / 2) + -28px);
    margin-bottom: -418px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1059px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 303px);
    height: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 321px;
    margin-top: -930px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 322px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-shape-2 {
    width: 278px;
    height: 251px;
    margin-top: -230px;
    margin-right: calc(((100% - 340px) / 2) + -26px);
    margin-bottom: -481px;
  }
}