body{
	width: 100vw;
	overflow-x: hidden;
}


#logo{
	width: 300px;
	/*height: 80px;*/ /*ligne à supprimer quand le logo sera positionnné*/
	/*background-color: orange*/
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 6;
}	
#petitlogo{
	width: 100%;
	/*height: 80px;*/ /*ligne à supprimer quand le logo sera positionnné*/
	/*background-color: orange*/;

}

#logosticky{
	width: 300px;
	position: sticky;
	z-index: 5;
	top: 15px;
	left: 15px;
}
#conteneur{
	background-color: black;
}
section{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/*border: 1px solid red;*/ /*repère*/
	position:relative;

}

.fleche{
	position: absolute;
	bottom: 25px;
	left: 45vw;
	color: white;


}
.fleche a{
	text-decoration: none;
}

.iconefleche{
	border: 0px solid black;
	color: white;
	font-size: 3em;
}
#section1{
	background-color:#fcd5ce;
	/*background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255, 255, 255, 0) 100%);*/
	color: black;
}

#section2,#section3,#section4,#section5{ /*, = +*/
	background-color:black;

}
#section2,#section3,#section4{ /*, = +*/

	margin-bottom: 100px;
}

#intro{
	width: 1000px;
	/*border: 1px solid black;*/ /*repère*/
	margin: 20vh auto 0px;
	display: flex;
	justify-content: space-between;
}

h1{
	margin-bottom: 5vh;

}
#presentation{
	width: 40%;
	/*border: 1px solid red;*/ /*repère*/
	/*font-family: 'Dela Gothic One', cursive;*//*police à changer si police différente*/
	font-family: 'Righteous', cursive;
}

#presentation h1{
	font-size: 2em;
	text-transform: uppercase;

}

#presentation p{
	font-size: 1.3em;
	line-height: 1.4em; /*interlignage*/
	color:black;
}

.bleu{
	color: #363cee;
}

.rouge{
	color: #ed1c24;
}

.vert{
	color: #1cede3;
}

.orange{
	color: #f15a24;
}

.violet{
	color: #ad0bb2;
}
.jaune{
	color: orange;
}
#portrait{
	width: 40%;
	/*border: 1px solid yellow;*/ /*repère*/
}

#portrait img{
	width: 100%;
	/*padding-bottom: : 100px;*/
}

#navprincipale{
	width: 300px;
	margin: 50px auto;
	/*font-family: 'Dela Gothic One', cursive;*/
	font-family: 'Righteous', cursive;

}

nav ul{
	display: flex;
	justify-content: space-around;

}

nav ul li{
	border: 2px solid white;
	background-color: black;
	text-align: center;
	color: white;
	height: 20px;
	border-radius: 15px;
	padding: 5px 12px;
}

nav ul a{
	text-decoration: none;
}

/*li{

}*/

h2{
	width: 1000px;
	/*font-family: 'Dela Gothic One', cursive;*/
	font-family: 'Syncopate', sans-serif;
	font-size: 5em;
	color: white;
	/*opacity: 0.5;*/
	z-index: 1000;
	position: relative;
}

h3{
	font-family: 'Syncopate', sans-serif;
}

#numerique{
	margin: 20vh auto 0px;
}

#hybride{
	margin: 20vh auto 0px;
}

#photographies{
	margin: 20vh auto 0px;
}


.projets{
	width: 1000px;
	/*border: 1px solid white;*/ /*repère*/
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.projets figure{
	width: 400px;
	height: 500px;
	position: relative;
/*	border: 1px solid yellow;*/
	/*background-color: green;*/ /*repère*/

}

.projets figure h3{
	opacity: 0;
		transition: 1s ease all;

}

.projets figure:hover h3{
	opacity: 1;
	color:white;
	z-index: 1001;
	position: absolute;
	width: 100%;
	text-align: center;
	top:0px;
	line-height: 3em;
	/*background-color: black;
*/
}

.projets figure:hover img{
	opacity: 0.5;
}

.projets figure img{
	transition: 1s ease all;
	width: 100%;
	position: relative;
	/*height: 500px;*/
}


#allure img{
	left: -100px;
	transform: rotate(-10deg);
	border: 1px solid white;
	z-index: 2;
	top: -80px;
}
#artbstract img{
	top: -100px;
	transform: rotate(20deg);
	border: 1px solid white;
	z-index: 3;
}

#aquarelles img{
	left: -120px;
	bottom: 0px;
	transform: rotate(-10deg);
	/*border: 1px solid white;*/
	z-index: 2;
	width: 160%;
}

#experimentations img{
	top: 20px;
	left: -100px;
	transform: rotate(20deg);
	/*border: 1px solid white;*/
	z-index: 3;
	width: 140%;
}

#retourauxsources img{
	top: -50px;
	left: -100px;
	transform: rotate(15deg);
	z-index: 1;
	width: 110%;
}

#studiophoto img{
	left: -200px;
	bottom: -100px;
	/*border: 1px solid white;*/
	transform: rotate(-10deg);
	width: 140%;
	z-index: 2;
}

h3{
	font-family: 'Righteous', cursive;
	color: white;
	height: 100px;
	width: 700px;
	/*border: 1px solid yellow;*/
	margin: 40vh auto 0px;
	/*display: flex;*/
	font-size: 2em;
}
